.listLoop li {
	list-style: none;
	margin-left: -32px;
}
.listLoop img {
	margin-right: 25px;
	top: 10px;
	position: relative;
}
.listLoop a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
	line-height: 52px;
}