/* God I hate Microsoft! */
#header #logo {
	position: relative;
}
.headerBanner {
	top: -64px;
	width: 195px;
	height: 90px;
}
.social {
	top: -60px;
}
#header #search {
	margin-top: -32px;
}
/* menu */
.navigation {
	z-index: 99;
}
#menu {
	float: right;
	width: 750px;
}
#menu ul li {
	position: relative;
}
#menu ul li div {
	z-index: 5;
}
#menu ul li.active div {
	display: block;
}
.menuDropdown {
	z-index: 9999;
	clear: both;
	margin-left: -211px;
}
.success, .warning, .attention, .information {
	position: relative;
}
.success .close, .warning .close, .attention .close, .information .close {
	position: absolute;
	right: 10px;
}
.box-product > div {
	display: inline;
	width: 157px;
}
.product-grid > div {
	display: inline;
	width: 159px;
}
.box-product .name {
	height: 58px;
}
/* button */
.product-info a.button span {
	line-height: 12px;
	display: block;
}
#content {
	position: relative;
	z-index: 1;
}
#footer .column {
	width: 24%;
}
.siteID {
	top: 40px;
}
.categoryModule .box-category div {
	margin-left: -133px;
	margin-top: 77px;
}
.is-column-fix {
	width: 230px;
}
.product-info > .left {
	overflow: hidden;
}
.productCompare .or {
	left: -47px;
}