/*-----------------------------------------------------
// Facebook Login for Opencart v1.5.6    				
// Created by villagedefrance                        	  		
// contact@villagedefrance.net                         		
//-----------------------------------------------------
*/

/* Facebook button */
a.box-fbconnect-a {
	display: inline-block;
	margin: 10px 0px 0px 0px;
	padding-left: 35px;
	background: url('../image/fbbutton-left.gif') top left no-repeat;
	text-decoration: none;
	cursor: pointer;
}
a.box-fbconnect-a span {
	color: #FFF;
	line-height: 12px;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	padding: 8px 10px 8px 0px;
	background: url('../image/fbbutton-right.gif') top right no-repeat;
	white-space: nowrap;
}
a.box-fbconnect-a:hover {
	background: url('../image/fbbutton-left-active.gif') top left no-repeat;
}
a.box-fbconnect-a:hover span {
	background: url('../image/fbbutton-right-active.gif') top right no-repeat;
}
/* Facebook Success */
h5 {
	color: #555;
	font: Verdana, Geneva, sans-serif;
	margin-top: 0px;
	margin-bottom: 3px;
	font-size: 18px;
	font-weight: normal;
	text-shadow: 0 0 1px rgba(0, 0, 0, .01);
}