<?php if ($modules) { ?>

<div id="column-right">

  <?php foreach ($modules as $module) { ?>

  <?php echo $module; ?>

<?php } ?>

<?php
if(!isset($this->request->get['route']))
  $this->request->get['route'] = "";

 if($this->request->get['route'] == 'common/home' || $_SERVER['REQUEST_URI'] == '/') { ?>

<div class="box facebook">

  <div class="box-heading">Facebook Feed</div>

  <div class="box-content">

    <div class="fb-like-box" data-href="https://www.facebook.com/kmdtuning" data-width="290" data-height="500" data-colorscheme="light" data-show-faces="false" data-header="true" data-stream="true" data-show-border="true"></div>
    
  </div><!-- box-content -->

</div><!-- box -->

<?php } else { ?>

<?php } // end if ?>

</div>

<?php } ?>