</div><!-- end of body container -->
</div>

<div class="fullwidth footerWrap">

  <div class="body">

<div id="footer">

  <?php if ($informations) { ?>

  <div class="column">

    <h3><?php echo $text_information; ?></h3>

    <ul>

      <?php foreach ($informations as $information) { ?>

      <li><a href="<?php echo $information['href']; ?>"><?php echo $information['title']; ?></a></li>

      <?php } ?>

    </ul>

  </div>

  <?php } ?>

  <div class="column">

    <h3><?php echo $text_service; ?></h3>

    <ul>

      <li><a href="<?php echo $contact; ?>"><?php echo $text_contact; ?></a></li>

      <li><a href="<?php echo $return; ?>"><?php echo $text_return; ?></a></li>

      <li><a href="<?php echo $sitemap; ?>"><?php echo $text_sitemap; ?></a></li>

    </ul>

  </div>

  <div class="column">

    <h3><?php echo $text_extra; ?></h3>

    <ul>

      <li><a href="<?php echo $manufacturer; ?>"><?php echo $text_manufacturer; ?></a></li>

      <li><a href="<?php echo $voucher; ?>"><?php echo $text_voucher; ?></a></li>

    </ul>

  </div>

  <div class="column">

    <h3><?php echo $text_account; ?></h3>

    <ul>

      <li><a href="<?php echo $account; ?>"><?php echo $text_account; ?></a></li>

      <li><a href="<?php echo $order; ?>"><?php echo $text_order; ?></a></li>

      <li><a href="<?php echo $wishlist; ?>"><?php echo $text_wishlist; ?></a></li>

      <li><a href="<?php echo $newsletter; ?>"><?php echo $text_newsletter; ?></a></li>

    </ul>

  </div>

</div>

<div class="siteID">KMD Tuning and Engineering   -   374 N. Midland Ave, Saddle Brook, NJ 07663 - (201) 773-9171</div>

</div>

</div><!-- body wrapper -->

</div><!-- footerwrap -->

</body></html>